.github/
brane-api/packages
brane-api/temporary
brane-dsl/resources
brane-exec/resources
brane-ide/registry/node_modules
brane-ide/renderer/node_modules
brane-init/
deployment/
docs/
examples/
target/