:root {
    --b-icon-vault: url('icons/vault.svg');
    --b-icon-brane: url('icons/logo.png');
}

.b-VaultIcon {
    background-image: var(--b-icon-vault);
}

.jp-Launcher-sectionHeader .b-VaultIcon {
    background-image: var(--b-icon-brane) !important;
}

.brane-vault > div {
    margin: 15px 25px;
}

.brane-vault__secret {
    display: block;
    width: 100%;
    padding: 15px 0px;
    background-color: #f4f4f4;
}
