:root {
    --b-icon-vault: url('icons/vault.svg');
    --b-icon-brane: url('icons/logo.png');
}

.b-VaultIcon {
    background-image: var(--b-icon-vault);
}

.jp-Launcher-sectionHeader .b-VaultIcon {
    background-image: var(--b-icon-brane) !important;
}

.brane-vault > div {
    margin: 15px 25px;
}

.functions {
    margin-top: 15px;
}

.function {
    background-color: #2196f3;
    color: white;
    margin: 5px 0px;
    padding: 10px 5px;
}

.function strong {
    font-weight: bolder;
}

.function .pattern {
    background-color: #f4f4f4;
    color: #444;
    padding: 10px;
    margin: 0px 10px;
    margin-top: 10px;
}

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 15px 0px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #ddd;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin: 0px 10px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 20px;
}
