.no-lnk {
    a {
        background: none;

        &:hover {
            background: none;
        }
    }
}

.demo-container {
    display: flex;
    flex-wrap: wrap;
}

.demo-item {
    color: white;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    width: 300px;

    p {
        text-align: center;
    }
}