.uppercase {
    text-transform: uppercase;
}

.react-tabs__tab-list {
    margin: 0;
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    background-color: white;
    line-height: 13px;
    font-size: 13px;
    margin-right: 2px;
    padding: 3px 6px;
}

.react-tabs__tab--selected {
    background-color: #EEEEEE;
}

.invocation-renderer__output {
    position: relative;
    margin-top: 5px;
}

.invocation-renderer__information {
    position: relative;
    margin-top: 5px;
}

.invocation-renderer__ir {
    margin-top: -8px;
    margin-bottom: -5px;
}
