[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipykernel = "==5.4.2"
ipython = "==7.19.0"
jupyter-client = "==6.1.7"
requests = "*"
jupyterlab = "==3.0.1"
grpcio = "==1.37.0"
grpcio-tools = "==1.37.0"
