[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipykernel = "==5.5.3"
ipython = "==7.22.0"
jupyter-client = "==6.1.12"
jupyterlab = "==3.0.14"
grpcio = "==1.37.0"
grpcio-tools = "==1.37.0"
filetype = "==1.0.7"
